# ──────────────────────────────────────────────────────────────────────────────
# Hide the build artifacts directory from language stats
target/** linguist-vendored

# Also hide Makefile
Makefile   linguist-vendored
*.mk       linguist-vendored
# ──────────────────────────────────────────────────────────────────────────────
